@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.modal-header {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.form-group {
  width: 100%;
  margin-bottom: 5px;
}

.form-input,
.form-select {
  width: 100%;
  padding: 6px;
  margin-top: 3.75px;
  margin-bottom:3.75px;
  font-size: 12px;
  border: 0.75px solid #ccc;
  border-radius: 3.75px;
}

.form-button {
  background-color: #3498db;
  color: #fff;
  padding: 7.5px 11.25px;
  /* 10px * 0.75, 15px * 0.75 */
  border: none;
  border-radius: 3.75px;
  /* 5px * 0.75 */
  cursor: pointer;
  font-size: 13.5px;
  /* 18px * 0.75 */
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}